@import "./bootstrap/css/bootstrap.css";
@import "./bootstrap-icons/bootstrap-icons.css";

body {
  padding-top: 0;
  background: #f8f9fa;
}
.note-list-item {
  cursor: pointer;
}
.note-list-item.active {
  background: #e9ecef;
}
.todo-text.done {
  text-decoration: line-through;
  opacity: 0.6;
}
